{
  "openapi": "3.0.3",
  "info": {
    "title": "Fraud Scan API",
    "description": "API for fraud reporting, search, and enterprise features.\n\n**Auth methods:**\n- **Web:** JWT in `auth-token` cookie (set by login/signup).\n- **Mobile app / API clients:** See *X-API-Key + Bearer* below.\n- **External (enterprise):** Bearer token from `/enterprise/key` only.\n\n---\n\n## X-API-Key + Bearer (mobile app)\n\nEvery request must include:\n\n1. **Header: `X-API-Key`** — Shared secret key (obtain from backend team). Add to every request.\n\n2. **Header: `Authorization: Bearer <token>`** — JWT from login response. Required for protected routes (profile, search, dashboard, etc.).\n\n**Flow:**\n1. Call `POST /auth/login` with `email`, `password`, `recaptchaToken`.\n2. Read `token` from the JSON response body.\n3. Store the token and send it as `Authorization: Bearer <token>` on all protected requests.\n4. Add `X-API-Key: <your-key>` to every request.\n\n**Example headers:**\n```\nX-API-Key: <shared-key-from-backend>\nAuthorization: Bearer <jwt-from-login>\nContent-Type: application/json\n```\n\nUse the **Authorize** button above to set these and try endpoints.",
    "version": "1.0.0"
  },
  "servers": [
    { "url": "https://fraudscans.com/api", "description": "Production" },
    { "url": "http://localhost:3000/api", "description": "Local" }
  ],
  "tags": [
    { "name": "Auth", "description": "Login, signup, password, session" },
    { "name": "User", "description": "Profile and dashboard" },
    { "name": "Search", "description": "Fraud database search" },
    { "name": "External", "description": "Enterprise Bearer token (API key from /enterprise/key)" },
    { "name": "Enterprise", "description": "Enterprise users and key" },
    { "name": "Fraud", "description": "Report and read fraud reports" },
    { "name": "Help", "description": "Contact / help form" }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": ["Auth"],
        "summary": "Login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password", "recaptchaToken"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "password": { "type": "string" },
                  "recaptchaToken": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Success. Set-Cookie + token in body for mobile clients (use as Bearer)" },
          "400": { "description": "Bad request / reCAPTCHA failed" },
          "401": { "description": "Invalid credentials" }
        }
      }
    },
    "/auth/signup": {
      "post": {
        "tags": ["Auth"],
        "summary": "Sign up (individual)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["firstName", "lastName", "email", "password", "recaptchaToken"],
                "properties": {
                  "firstName": { "type": "string" },
                  "lastName": { "type": "string" },
                  "email": { "type": "string", "format": "email" },
                  "password": { "type": "string" },
                  "recaptchaToken": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Created" },
          "400": { "description": "Validation / reCAPTCHA" },
          "409": { "description": "Email already exists" }
        }
      }
    },
    "/auth/enterprise-signup": {
      "post": {
        "tags": ["Auth"],
        "summary": "Sign up with enterprise signup token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token", "firstName", "lastName", "email", "password", "recaptchaToken"],
                "properties": {
                  "token": { "type": "string" },
                  "firstName": { "type": "string" },
                  "lastName": { "type": "string" },
                  "email": { "type": "string", "format": "email" },
                  "password": { "type": "string" },
                  "recaptchaToken": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Created" },
          "400": { "description": "Invalid token / validation" }
        }
      }
    },
    "/auth/forgot-password": {
      "post": {
        "tags": ["Auth"],
        "summary": "Request password reset email",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "recaptchaToken"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "recaptchaToken": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Email sent if account exists" },
          "400": { "description": "reCAPTCHA failed" }
        }
      }
    },
    "/auth/reset-password": {
      "post": {
        "tags": ["Auth"],
        "summary": "Reset password with token",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token", "password"],
                "properties": {
                  "token": { "type": "string" },
                  "password": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Password updated" },
          "400": { "description": "Invalid/expired token" }
        }
      }
    },
    "/auth/me": {
      "get": {
        "tags": ["Auth"],
        "summary": "Current user (cookie or X-API-Key+Bearer)",
        "security": [{ "cookieAuth": [] }, { "xApiKey": [], "bearerAuth": [] }],
        "responses": {
          "200": { "description": "User object" },
          "401": { "description": "Not logged in" }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": ["Auth"],
        "summary": "Logout (cookie or X-API-Key+Bearer)",
        "security": [{ "cookieAuth": [] }, { "xApiKey": [], "bearerAuth": [] }],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/user/profile": {
      "get": {
        "tags": ["User"],
        "summary": "Get profile (cookie or X-API-Key+Bearer)",
        "security": [{ "cookieAuth": [] }, { "xApiKey": [], "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Profile" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/dashboard/overview": {
      "get": {
        "tags": ["User"],
        "summary": "Dashboard stats (cookie or X-API-Key+Bearer)",
        "security": [{ "cookieAuth": [] }, { "xApiKey": [], "bearerAuth": [] }],
        "responses": {
          "200": { "description": "Overview counts" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/dashboard/recent-activity": {
      "get": {
        "tags": ["User"],
        "summary": "Recent activity (cookie or X-API-Key+Bearer)",
        "security": [{ "cookieAuth": [] }, { "xApiKey": [], "bearerAuth": [] }],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Activity list" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/dashboard/my-reports": {
      "get": {
        "tags": ["User"],
        "summary": "My reports (cookie or X-API-Key+Bearer)",
        "security": [{ "cookieAuth": [] }, { "xApiKey": [], "bearerAuth": [] }],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "pageSize", "in": "query", "schema": { "type": "integer" } },
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["approved", "pending", "rejected", "under_review"] } }
        ],
        "responses": {
          "200": { "description": "Paginated reports" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/search": {
      "get": {
        "tags": ["Search"],
        "summary": "Search fraud DB (cookie or X-API-Key+Bearer, consumes quota)",
        "security": [{ "cookieAuth": [] }, { "xApiKey": [], "bearerAuth": [] }],
        "parameters": [
          { "name": "q", "in": "query", "schema": { "type": "string" } },
          { "name": "type", "in": "query", "schema": { "type": "string" } },
          { "name": "severity", "in": "query", "schema": { "type": "string", "enum": ["low", "medium", "high", "critical"] } },
          { "name": "email", "in": "query", "schema": { "type": "string" } },
          { "name": "phone", "in": "query", "schema": { "type": "string" } },
          { "name": "minAmount", "in": "query", "schema": { "type": "number" } },
          { "name": "maxAmount", "in": "query", "schema": { "type": "number" } },
          { "name": "fuzziness", "in": "query", "schema": { "type": "integer" } },
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Search results + pagination" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Quota exceeded" }
        }
      }
    },
    "/search/status": {
      "get": {
        "tags": ["Search"],
        "summary": "Search quota/status (cookie or X-API-Key+Bearer)",
        "security": [{ "cookieAuth": [] }, { "xApiKey": [], "bearerAuth": [] }],
        "responses": {
          "200": { "description": "searchLimit, searchesUsed, type, etc." },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/external/frauds": {
      "get": {
        "tags": ["External"],
        "summary": "Search frauds (Bearer token – enterprise API key only)",
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "q", "in": "query", "schema": { "type": "string" } },
          { "name": "email", "in": "query", "schema": { "type": "string" } },
          { "name": "phone", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20 } }
        ],
        "responses": {
          "200": { "description": "Fraud items (limited fields)" },
          "401": { "description": "Missing/invalid Bearer token" },
          "403": { "description": "Forbidden / quota exceeded" }
        }
      }
    },
    "/enterprise/users": {
      "get": {
        "tags": ["Enterprise"],
        "summary": "List enterprise users (enterprise_admin, cookie auth)",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "pageSize", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "items, pagination" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" }
        }
      },
      "post": {
        "tags": ["Enterprise"],
        "summary": "Create enterprise user (enterprise_admin, cookie auth)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["firstName", "lastName", "email", "password"],
                "properties": {
                  "firstName": { "type": "string" },
                  "lastName": { "type": "string" },
                  "email": { "type": "string", "format": "email" },
                  "password": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Created" },
          "400": { "description": "Validation" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" }
        }
      }
    },
    "/enterprise/key": {
      "get": {
        "tags": ["Enterprise"],
        "summary": "Get API key (enterprise_admin, cookie auth)",
        "responses": {
          "200": { "description": "API key or empty" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" }
        }
      },
      "post": {
        "tags": ["Enterprise"],
        "summary": "Generate or rotate API key (enterprise_admin, cookie auth)",
        "responses": {
          "200": { "description": "New API key" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" }
        }
      }
    },
    "/enterprise": {
      "post": {
        "tags": ["Enterprise"],
        "summary": "Submit enterprise request (public, reCAPTCHA)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "companyName": { "type": "string" },
                  "contactName": { "type": "string" },
                  "businessEmail": { "type": "string" },
                  "phoneNumber": { "type": "string" },
                  "industry": { "type": "string" },
                  "numberOfUsers": { "type": "integer" },
                  "message": { "type": "string" },
                  "recaptchaToken": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Submitted" },
          "400": { "description": "Validation / reCAPTCHA" }
        }
      }
    },
    "/fraud": {
      "post": {
        "tags": ["Fraud"],
        "summary": "Submit fraud report (cookie or guest + reCAPTCHA)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": { "type": "string" },
                  "description": { "type": "string" },
                  "type": { "type": "string" },
                  "severity": { "type": "string" },
                  "fraudsterDetails": { "type": "object" },
                  "evidence": { "type": "object" },
                  "guestSubmission": { "type": "object" },
                  "recaptchaToken": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Created, returns report id" },
          "400": { "description": "Validation" }
        }
      }
    },
    "/reports/{id}": {
      "get": {
        "tags": ["Fraud"],
        "summary": "Get single report (public for approved; auth for own/pending)",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Report" },
          "404": { "description": "Not found" }
        }
      }
    },
    "/help": {
      "post": {
        "tags": ["Help"],
        "summary": "Submit help/contact form (reCAPTCHA)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "email", "subject", "message", "recaptchaToken"],
                "properties": {
                  "name": { "type": "string" },
                  "email": { "type": "string", "format": "email" },
                  "subject": { "type": "string" },
                  "message": { "type": "string" },
                  "issueType": { "type": "string" },
                  "recaptchaToken": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Submitted" },
          "400": { "description": "Validation / reCAPTCHA" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "auth-token",
        "description": "Web: JWT in HTTP-only cookie"
      },
      "xApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Add header X-API-Key with the shared secret (get from backend team). Required on every request."
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT from login response body (Authorization: Bearer <token>) or enterprise API key from /enterprise/key."
      }
    }
  },
  "security": []
}
